@mixin fluid-text($max: 48, $min: 16) {
    font-size: clamp(#{$min}px, #{$max / 1920 * 100}vw, #{$max}px);
  }

  @mixin height($max: 48, $min: 16) {
    height: clamp(#{$min}px, #{$max / 1920 * 100}vw, #{$max}px);
  }

  @mixin margin-top($max: 48, $min: 16) {
    margin-top: clamp(#{$min}px, #{$max / 1920 * 100}vw, #{$max}px);
  }

  @mixin flex-center {
    display: flex;
    align-items: center;
   
  }