*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

ul {
  padding: 0;
  margin: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Druk-Wide";
  src: url("../fonts/druk-wide-cyr-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/inter-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: #FFFFFF;
  --color-black: #202020;
  --color-gray: #ececec;
  --color-gray-alt:#747474;
  --color-gray-button: #EFEFEF;
  --color-gray-border: #C4C4C4;
  --color-green: #2E8D43;
  --color-light-green: #58A469;
  --color-orange: #F36722;
  --section-margin-y: clamp(42px, 12.2vw, 120px);
  --border-radius: clamp(20px, 19.2vw, 10px);
  --padding-x: 20px;
  --padding-x-mobile: 12px;
  --border-gray: 1px solid var(--color-gray-border);
  --border: 1px solid var(--color-black);
  --font-family-title: "Druk-Wide", sans-serif;
  --font-family-subtitle: "Inter-Medium", sans-serif;
  --container-width: 1920px;
  --transition-duration: 0.4is;
}

.container {
  max-width: var(--container-width);
  margin: auto;
  width: 100%;
  padding-inline: var(--padding-x);
}
@media (max-width: 760px) {
  .container {
    padding-inline: var(--padding-x-mobile);
  }
}

.utils {
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  font-family: var(--font-family-title);
  font-weight: bold;
}

.title-link {
  display: flex;
  align-items: center;
  font-size: clamp(14px, 0.99vw, 20px);
  gap: 12px;
  line-height: 1.4;
}
.title-link a {
  padding: 10px 0px 10px 10px;
}
@media (max-width: 760px) {
  .title-link svg {
    display: none;
  }
}

.content {
  max-width: var(--container-width);
  padding-inline: var(--padding-x);
  margin: auto;
}
@media (max-width: 760px) {
  .content {
    padding-inline: var(--padding-x-mobile);
  }
}

.section {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: var(--section-margin-y);
  justify-content: space-between;
}

.section-body {
  display: flex;
  margin-top: clamp(21px, 2.58vw, 64px);
}

.button-alt {
  border: none;
  background-color: inherit;
  cursor: pointer;
  text-transform: uppercase;
}

.button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: var(--border-radius);
}

@media (max-width: 1024px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (max-width: 760px) {
  .hidden-mobile {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.h3-paddings {
  padding-top: clamp(12px, 1.92vw, 24px);
  padding-left: clamp(12px, 1.92vw, 24px);
  padding-right: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.item-button {
  font-size: clamp(10px, 0.625vw, 12px);
  display: flex;
  gap: 6px;
  line-height: 1.4;
  padding: 6px 12px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: var(--border-radius);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

body {
  font-family: var(--font-family-title);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

cite {
  font-style: normal;
}

li {
  list-style-type: none;
  text-transform: uppercase;
}

html {
  background-color: var(--color-gray);
}

h1, h2, h3, h4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

h1, .h1, h2, .h2 {
  font-size: clamp(26px, 4.1666666667vw, 80px);
  line-height: 1.2;
}

h3, .h3 {
  font-size: clamp(20px, 2.5vw, 48px);
  line-height: 1.2;
}

h4, .h4 {
  font-size: clamp(20px, 1.6666666667vw, 32px);
  line-height: 1.3;
}

.header {
  display: flex;
  align-items: center;
  font-size: clamp(12px, 0.7291666667vw, 14px);
  height: clamp(48px, 4.1666666667vw, 80px);
  margin-top: clamp(12px, 1.0416666667vw, 20px);
  padding-inline: var(--padding-x);
  line-height: 19.6px;
  text-transform: uppercase;
  justify-content: space-between;
}
.header__link {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__link {
    width: 70px;
    height: 17px;
  }
}
@media (max-width: 760px) {
  .header__link {
    order: 1;
  }
}
.header__nav {
  margin-right: auto;
  padding: 21px 0 21px 3.479%;
}
.header__nav a:hover {
  color: var(--color-orange);
}
.header__nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__button {
  display: flex;
  align-items: center;
  width: clamp(110px, 8.63%, 132px);
  height: 38px;
  gap: 8px;
  padding-right: 8px;
}
.header__button:hover {
  color: var(--color-orange);
}
@media (max-width: 1024px) {
  .header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
  }
}
@media (max-width: 760px) {
  .header__button {
    order: 0;
    padding: 0;
    width: 32px;
  }
}
.header__user-inner {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  justify-content: space-between;
  gap: 10px;
  background-color: var(--color-gray-button);
}
@media (max-width: 760px) {
  .header__user-inner {
    order: 2;
  }
}
.header__user-name {
  padding-left: 16px;
}
.header__user-img {
  border-radius: 50%;
  padding-right: 3px;
}

.swiper {
  position: relative;
}
.swiper-wrapper {
  padding-top: 8px;
  border-radius: var(--border-radius);
}
.swiper-slide {
  padding-inline: var(--padding-x);
  border-radius: var(--border-radius);
}
.swiper__slide-1 {
  background: url("../images/3.webp") center/cover no-repeat;
  width: 100%;
}
@media (max-width: 420px) {
  .swiper__slide-1 {
    background: url("../images/3-mobile.webp") center/cover no-repeat;
  }
}
.swiper__slide-2 {
  background: url("../images/2.webp") center/cover no-repeat;
  width: 100%;
}
@media (max-width: 420px) {
  .swiper__slide-2 {
    background: url("../images/2-mobile.webp") center/cover no-repeat;
  }
}
.swiper__slide-3 {
  background: url("../images/1.webp") center/cover no-repeat;
  width: 100%;
}
@media (max-width: 420px) {
  .swiper__slide-3 {
    background: url("../images/1-mobile.webp") center/cover no-repeat;
  }
}
.swiper-title {
  color: var(--color-white);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 2;
  line-height: 1.2;
  padding-top: clamp(240px, 26.4vw, 506px);
  width: clamp(272px, 67.82vw, 1302px);
  padding-bottom: clamp(152px, 7vw, 132px);
}
.swiper__button-wrapper {
  display: flex;
  align-items: center;
  padding-inline: 20px;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  gap: 8px;
  top: 93.5%;
  left: 50%;
  translate: -50% -50%;
}
@media (max-width: 600px) {
  .swiper__button-wrapper {
    flex-direction: column;
    gap: 4px;
    top: 86%;
  }
}
.swiper__button {
  height: clamp(40px, 3.3333333333vw, 64px);
  font-size: clamp(14px, 0.8333333333vw, 16px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.4;
  padding-left: 24px;
  background-color: var(--color-white);
  width: clamp(272px, 31.7vw, 608px);
}
.swiper__button svg {
  color: var(--color-white);
  margin-right: 24px;
}
@media (max-width: 1024px) {
  .swiper__button svg {
    margin-right: 14px;
  }
}
.swiper__button:hover {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.play__title-link {
  color: var(--color-orange);
}
.play__title-link:hover {
  color: var(--color-green);
}
.play__body {
  gap: 9px;
}
@media (max-width: 760px) {
  .play__body {
    flex-direction: column;
    align-items: center;
  }
}
.play__body-card {
  width: clamp(296px, 94vw, 621px);
}
.play__body-card img {
  border-radius: var(--border-radius);
}
.play__body-card:nth-child(2) img {
  position: relative;
  padding-left: 25%;
}
.play__body-card:nth-child(odd) img {
  border-radius: var(--border-radius);
  -webkit-clip-path: ellipse(52% 76% at 50% 24%);
          clip-path: ellipse(52% 76% at 50% 24%);
}
.play__body-card-descr {
  display: flex;
  max-width: 490px;
  flex-direction: column;
  gap: clamp(8px, 0.64vw, 16px);
  padding: clamp(28px, 2.9vw, 62px) clamp(12px, 1.12vw, 24px) clamp(12px, 1.12vw, 24px) clamp(12px, 1.12vw, 24px);
}
@media (max-width: 760px) {
  .play__body-card-descr {
    padding: clamp(28px, 5.9vw, 62px) clamp(12px, 3.12vw, 24px) clamp(12px, 3.12vw, 24px) clamp(12px, 3.12vw, 24px);
  }
}
.play__body-card-descr p {
  font-family: var(--font-family-subtitle);
  font-weight: 500;
  font-size: clamp(14px, 0.757vw, 16px);
  line-height: 1.6;
}
.play__body-card-descr h4 {
  max-width: 320px;
}
.play__body-card:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
.play__body-card:hover .play__body-button {
  display: flex;
}
.play__body-card:hover .play__body-button-inner {
  padding-bottom: 24px;
  padding-top: 8px;
}
.play__body-button-inner {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 0 24px;
}
@media (max-width: 1024px) {
  .play__body-button-inner {
    padding: 0 12px;
  }
}
.play__body-button {
  display: flex;
  align-items: center;
  display: none;
  background-color: var(--color-orange);
  color: var(--color-white);
  height: clamp(40px, 3.3333333333vw, 64px);
  font-size: clamp(14px, 0.8333333333vw, 16px);
  justify-content: space-between;
  line-height: 1.4;
  padding-left: 24px;
  width: 100%;
}
.play__body-button svg {
  margin-right: 24px;
}

.learn {
  margin-top: var(--section-margin-y);
  display: flex;
  flex-direction: column;
}
@media (max-width: 760px) {
  .learn {
    padding: 0;
    background-color: inherit;
  }
}
.learn__title-wrapper {
  margin-top: 0;
  padding: clamp(0px, 1.45vw, 32px) clamp(0px, 1.45vw, 32px);
}
@media (max-width: 760px) {
  .learn__title-wrapper {
    padding: 0;
  }
}
.learn__title-link {
  color: var(--color-green);
  padding-right: clamp(0px, 1vw, 32px);
  padding-top: clamp(0px, 1vw, 49px);
}
.learn__title-link:hover {
  color: var(--color-orange);
}
.learn__body-wrapper {
  display: grid;
  grid-template-columns: clamp(296px, 65.2vw, 1242px) minmax(300px, 614px);
}
@media (max-width: 1024px) {
  .learn__body-wrapper {
    grid-template-columns: auto;
  }
}
.learn__body-banners {
  display: grid;
  gap: clamp(8px, 0.8vw, 20px);
  padding: 0 clamp(12px, 1.92vw, 16px) clamp(12px, 1.92vw, 16px) clamp(12px, 1.92vw, 32px);
}
@media (max-width: 760px) {
  .learn__body-banners {
    padding: 0;
    background-color: inherit;
  }
}
.learn__sport-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: url(../images/learn-background.webp) center/cover no-repeat;
  color: var(--color-white);
}
@media (max-width: 390px) {
  .learn__sport-section {
    background: url(../images/learn-background-mobile.jpg) center/cover no-repeat;
  }
}
.learn__sport-section h3 {
  max-width: 780px;
}
.learn__sport-section button {
  color: var(--color-green);
  background-color: var(--color-white);
  margin-left: clamp(12px, 1vw, 24px);
  margin-bottom: clamp(12px, 1vw, 24px);
  margin-top: clamp(220px, 19.2vw, 362px);
}
.learn__choose {
  display: flex;
  flex-direction: column;
  gap: clamp(68px, 1.92vw, 126px);
  justify-content: space-between;
  background-color: var(--color-green);
  color: var(--color-white);
}
.learn__choose h3 {
  max-width: 860px;
}
.learn__choose_button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 560px;
  margin-left: clamp(12px, 1.92vw, 24px);
  margin-bottom: clamp(12px, 1.92vw, 24px);
  padding-right: 15px;
}
.learn__choose-button {
  background-color: var(--color-light-green);
  color: var(--color-white);
}
.learn__choose-button:active {
  background-color: var(--color-white);
  color: var(--color-green);
}
.learn__items-section {
  padding-left: 16px;
  border-left: var(--border-gray);
}
@media (max-width: 1024px) {
  .learn__items-section {
    display: none;
  }
}
.learn__item {
  padding-bottom: 20px;
}
.learn__item:not(:last-child) {
  border-bottom: var(--border-gray);
}
.learn__item-img img {
  border-radius: 10px;
}
.learn__item-title a {
  display: flex;
  align-items: center;
  gap: 12px;
}
.learn__item-title svg {
  display: none;
}
.learn__item-title:hover {
  color: var(--color-green);
}
.learn__item-title:hover svg {
  display: block;
}
.learn__item-body {
  padding-top: clamp(20px, 5.4vw, 103px);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.learn__item-text {
  text-transform: uppercase;
  max-width: 307px;
  width: 100%;
}
.learn__item-text blockquote {
  margin: 0 0;
}
.learn__item-date {
  max-width: 144px;
  margin-top: 32px;
  background-color: var(--color-gray-button);
  cursor: text;
}
.learn__item:nth-child(2) .learn__item-body {
  padding-top: clamp(20px, 8.486486vw, 144px);
  padding-bottom: 0;
  max-width: 528px;
  padding-right: 15px;
}
.learn__item:nth-child(2) .learn__item-text {
  padding-bottom: 0;
  max-width: 423px;
  width: 100%;
}
.learn__item:nth-child(2) .learn__item-date {
  margin-top: 16px;
}
.learn__button-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.learn__item:nth-child(3) .learn__item-body {
  padding-top: clamp(20px, 12.135135vw, 225px);
  padding-right: 15px;
}
.learn__item:nth-child(3) button {
  background-color: var(--color-gray-button);
}
.learn__item:nth-child(3) button:active {
  background-color: var(--color-black);
  color: var(--color-white);
}
.learn__title-articles, .learn__title-terms {
  padding-top: 20px;
}

.footer {
  max-width: var(--container-width);
  margin: auto;
  width: 100%;
  padding-inline: var(--padding-x);
  padding-top: clamp(20px, 1.92vw, 35px);
  padding-bottom: clamp(25px, 2vw, 38px);
  border-top: var(--border);
  text-transform: uppercase;
  margin-top: var(--section-margin-y);
}
@media (max-width: 760px) {
  .footer {
    padding-right: 0px;
  }
}
.footer__body {
  display: grid;
  grid-template-columns: clamp(296px, 60.2vw, 1138px) clamp(200px, 36.2vw, 682px);
  gap: clamp(20px, 2vw, 60px);
}
@media (max-width: 1024px) {
  .footer__body {
    gap: 0;
  }
}
@media (max-width: 600px) {
  .footer__body {
    grid-template-columns: auto;
    background: url(../images/footer-ball-mobile.png) 100% 82% no-repeat;
  }
}
.footer__title h3 {
  width: clamp(296px, 49vw, 960px);
}
.footer__title-links {
  padding-top: clamp(20px, 1.92vw, 32px);
  gap: clamp(24px, 1.92vw, 37px);
  display: flex;
}
@media (max-width: 760px) {
  .footer__title-links {
    flex-direction: column;
  }
}
.footer__extra {
  padding-top: clamp(165px, 15.99vw, 307px);
}
.footer__img {
  padding-top: 29px;
  background: url(../images/footer-ball-desk.png) bottom/contain no-repeat;
}
@media (max-width: 600px) {
  .footer__img {
    display: none;
  }
}
.footer__img-qr-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: clamp(10px, 1.92vw, 44px);
  max-width: 352px;
  margin-left: 41px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.footer__img-qr-wrapper svg {
  padding-inline: 20px;
}
.footer__img-qr-wrapper p:nth-child(2) {
  font-size: clamp(14px, 0.8333333333vw, 16px);
  font-family: var(--font-family-subtitle);
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-gray-alt);
  padding-top: clamp(10px, 1.92vw, 35px);
}
.footer__img-qr-wrapper p:nth-child(3) {
  font-size: clamp(12px, 0.7291666667vw, 14px);
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
  max-width: 264px;
  padding-top: 12px;
  padding-bottom: clamp(20px, 1.92vw, 44px);
  padding-inline: 20px;
}/*# sourceMappingURL=styles.css.map */